<div class="container-fluid" style="overflow: hidden">
	<div class="row">
		<div class="col-md-3 hidden-sm" id="left-pane" >
			<div class="affix">
				<% if !@event.photos.nil? && @event.photos.length > 0  
					 index = rand(0..(@event.photos.length - 1))					 
				%>
						
					<img id="left-pane-img" src="<%= @event.photos[index].url %>" />
				<% else	
					  _img = Photo.get_images[rand(0..10)] 
				%>
	   				<img id="left-pane-img" src="<%= "/assets/" + _img[:name] %>" />									
				<% end %>
			</div>
		</div>
		<div id="right-pane" class="col-md-8" style="background: white;">			
           <div class="row"> 
				<div class="btn-group pull-right">
					<button class="btn btn-default" type="button" title="Search">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<a class="btn btn-default" type="button" title="Home" href="<%= root_path %>">
						<span class="glyphicon glyphicon-home"></span>
					</a>
					<% if current_user.nil? %>
						<a class="btn btn-default" title="Log in" href="<%= omniauth_authorize_path(:user, "facebook") %>">
							<span class="glyphicon glyphicon-log-in"></span>
						</a>					
					<% else %>						
						<a id="log-out-btn" class="btn btn-default" type="button" title="Log out" data-remote="true" href="<%= destroy_user_session_path %>" data-method="delete">
							<span class="glyphicon glyphicon-log-out"></span>
						</a>
					<% end %>
				</div>
            </div>		
			<div class="row" style="margin-top: 20px">
				<div class="col-md-10 col-md-offset-2">
					<% if !@event.owner_u2.nil? %>
						<img style="text-align: center" class="img-circle pull-left" src="https://graph.facebook.com/<%= @event.owner_u2.uid %>/picture?width=50&height=50" />
					<% end %>
					<% if !@event.owner_u1.nil? %>
						<img style="text-align: center" class="img-circle pull-right" src="https://graph.facebook.com/<%= @event.owner_u1.uid %>/picture?width=50&height=50" />
					<% end %>																
				</div>
			</div>		
			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<% @result.each do |item| %>
						<div class="row" style="padding-bottom: 35px; margin-left: 30px;">
							<% if item.type == 2 %>
								<div class="col-md-9" >						
									<blockquote class="twitter-tweet"><p><%= item.media %></p>&mdash; <%= item.user %> <a href="https://twitter.com/<%=item.user%>/statuses/<%=item.oid%>">November 6, 2013</a></blockquote>
								</div>
							<% end %>
							<% if item.type == 1 %>																
								<div class="col-md-8" style="padding-left: 0px; padding-right: 0px; margin-left: 20px;">
									<div class="instagram-block" style="max-width: 450px">
										<div class="row" style="margin-top: 5px; padding-left: 5px">
											<div class="col-md-2">
												<img src="<%= item.profile_img %>" class="img-circle" style="height: 50px; width: 50px"></img>											
											</div>
											<!--
											<div class="col-md-1 pull-right">
												<div class="pin-holder">
													<span class="glyphicon glyphicon-pushpin"></span>
												</div>
											</div>
											-->
										</div>									
										<div class="row" style="margin-top:10px; margin-left: 0px; margin-right: 0px">
											<div>
												<img src="<%= item.media %>" style="width: 100%; height: 490px; max-width: 450px;"></img>
											</div>
										</div>
									</div>																		
								</div>
							<% end %>
							<% if item.type == 0 %>																
								<div class="col-md-9 instagram-block" style="padding-left: 0px; padding-right: 0px">
									<div class="row" style="margin-top: 5px; padding-left: 5px">
										<div class="col-md-2">
											<img src="<%= item.profile_img %>" class="img-circle" style="height: 50px; width: 50px"></img>
										</div>
										<!--
										<div class="col-md-1 pull-right">
											<div class="pin-holder">
												<span class="glyphicon glyphicon-pushpin"></span>
											</div>
										</div>
										-->
									</div>									
									<div class="row" style="margin-top:10px; margin-left: 0px; margin-right: 0px">
										<div>
											<video controls="controls" poster="<%= item.thumb %>" width="100%" height="470">
												<source src="<%= item.media %>" type="video/mp4" />
											</video>
										</div>
									</div>																		
								</div>
							<% end %>							
						</div>														
					<% end %>
				</div>					
			</div>
			<div class="row" style="text-align: center; margin-top: 15px; padding-bottom: 15px;">
				<%
					prev_url = nil
					if !@in_min_id.nil?
					  prev_url = event_path(@event) + "?in_min_id=" + @in_min_id
					end
					
					if !@tw_min_id.nil?
					  if prev_url.nil?
					  	prev_url = event_path(@event) + '?tw_min_id=' + @tw_min_id.to_s
					  else
					  	prev_url = prev_url + '&tw_min_id=' + @tw_min_id.to_s
					  end
					end
				%>
				
				<% if !prev_url.blank? && @page.to_i != 0
					prev_url = prev_url + "&page=" + (@page.to_i - 1).to_s 
				%>
					<a href="<%= prev_url %>" class="btn btn-primary" style="margin-right: 25px">Prev Page</a>
				<% end %>
									
				<% 				
				   url = nil
				   if !@in_max_id.nil?
					 url = event_path(@event) + '?in_max_id=' + @in_max_id	
				   end 
				   
				   if !@tw_max_id.nil?				
				   	if url.nil?
				   	  	url = event_path(@event) + '?tw_max_id=' + @tw_max_id.to_s
				   	else
				   		url = url + '&tw_max_id=' + @tw_max_id.to_s	
				   	end	
				   end 
				%>				
								
				<% if !url.blank?
					url = url + "&page=" + (@page.to_i + 1).to_s 
				%>				
					<a href="<%= url %>" class="btn btn-primary">Next Page</a>
				<% end %>							
			</div>	
		</div>
	</div>
</div>
<script type="text/javascript">

	function logOut() {
		$.cookie("remember_user_token", null);	
	}
	
	function resizeColumn() {
		$('#left-pane-img').height($(window).height());
		$('#right-pane').css({ 'min-height': $(window).height() + 'px' });				
	};
	
	$(document).ready(function() {
		resizeColumn();
		$(window).resize(resizeColumn);
		<% if !current_user.blank? %>
			$('#log-out-btn').bind('ajax:success', function() {
				alert("Logged out");
			});
		<% end %>
	});
	
</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
